basic_pygame_tutorial/AttackGraffiti.ttf
basic_pygame_tutorial/dragon_left.png
basic_pygame_tutorial/music.wav
basic_pygame_tutorial/dragon_right.png
basic_pygame_tutorial/sound_1.wav
basic_pygame_tutorial/sound_2.wav
