basic_pygame_tutorial/AttackGraffiti.ttf
basic_pygame_tutorial/dragon_left.png
basic_pygame_tutorial/music.wav
basic_pygame_tutorial/dragon_right.png
basic_pygame_tutorial/sound_1.wav
basic_pygame_tutorial/sound_2.wav
basic_pygame_tutorial/coin.png
feed_the_dragon/coin_sound.wav
feed_the_dragon/miss_sound.wav
feed_the_dragon/ftd_background_music.wav
feed_the_dragon/dragon_right.png
feed_the_dragon/coin.png
feed_the_dragon/AttackGraffiti.ttf
catch_clown/clown.png
catch_clown/background.png
catch_clown/click_sound.wav
catch_clown/ctc_background_music.wav
catch_clown/Franxurter.ttf
catch_clown/miss_sound.wav
snake/pick_up_sound.wav
burger_dog/burger_dog_assets/
advanced_pygame/assets/
monster_wrangler/monster_wrangler_assets/
space_invaders/assets/
platformer_pygame/assets/